.normal{
    font-size: 12px;
}

/* 与上面同价 */
:local(.normal){
    font-size: 12px;
}

.style2{
    position: absolute;
}

.disabled{
    color: red;
}

/* 
    定义全局的变量
*/
:global(.btn){
    background: gray;
}

/* 
    定义多个全局变量
*/

:global{
    .link{
        color:red
    }

    .box{
        color:yellow;
    }
}